#defaultCanvas0{
  position: fixed;
  top: 0px;
  left: 0px;
}
#gear{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  background-image: url('images/gear.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#settingsDiv{
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: none;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: black;
}
#settingsDiv > *{
  color: white;
}
#frequencySlider. #minLifespanSlider, #maxLifespanSlider{
  direction: ltr;
}
#sound{
  height: auto;
  width: 6rem;
}
.sounding{
  content: url('images/soundOn.png') !important;
}
.subWrapper{
  display: inline-block;
}
.colorSelector{
  display: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
